body {
    background-image: url(cardImages/background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;

}

header {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
h1 {
    text-align: center;
    color: white;
}

#table-div {
    display: flex;
    justify-content: center;
}
h2 {
    color: white;
}
span {
    color: white;
}
#player-hand {
    display: flex;
    justify-content: start;
}

#dealer-hand {
    display: flex;
    justify-content: end;
    align-items: end;
}

#display {
    margin-top: 150px;
    height: 100px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

}

#hand-area{
    display: flex;
    justify-content: space-between;
}

#score-area{
    display: flex;
    justify-content: space-between;
}
table, th, td {
    border: 2px solid white;
    border-collapse: collapse;
    text-align: center;
}
td {
    color: white;
}

#wins {
    color:rgb(0, 174, 255)
}

#losses {
    color: rgb(220,52,69);
}

#ties{
    color: rgb(255,193,13);
}

.card-area {
    width: 500px;
    height: 98px;
    border: 5px solid white;
    border-radius: 4%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#deck {
    /* border: none; */
    background-color: rgb(0, 174, 255);
    grid-column: 7/8;
    opacity: 0;
    font-size: 24px;
    color: white;
    border-radius: 10%;
}

#hold {
    border-radius: 50%;
    grid-column: 4/5;
    background-color: rgb(220,52,69);
    opacity: 0;
    font-size: 24px;
    color: white;
}
#play {
    grid-column: 5/6;
    background-color: rgb(0,123,255);
    border-radius: 10%;
    color: white;
    font-size: 24px;
}

.win-screen {
    grid-column: 5/6;
    color: white;
}