body {
    background-image: url(cardImages/background.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Rokkitt', serif;
}

header {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
h1 {
    text-align: center;
    color: white;
}

li, h3 {
    color: #F5A31A;
}

a {
    font-size: 24px;
    color: white;
}

#table-div {
    display: flex;
    justify-content: space-evenly;
}
h2 {
    color: white;
}
span {
    color: #EDF4F2;
}
#player-hand {
    display: flex;
    justify-content: start;
}

#dealer-hand {
    display: flex;
    justify-content: end;
    align-items: end;
}

#display {
    margin: 75px auto;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column

}

#results {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
}

#hand-area{
    display: flex;
    justify-content: space-between;
}

#score-area{
    display: flex;
    justify-content: space-between;
}

table{
    width: 300px;
    margin-left: -125px;
}

table, th, td {
    border: 2px solid white;
    border-collapse: collapse;
    text-align: center;
}
td {
    color: white;
}

#wins {
    color:rgb(0, 174, 255)
}

#losses {
    color: rgb(220,52,69);
}

#ties{
    color: rgb(255,193,13);
}

.card-area {
    width: 500px;
    height: 98px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    border-radius: 4%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-image: url(cardImages/red\ felt.jpeg);
}

#gameplay-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 66px;
}
#deck {
    background-color: rgb(0, 174, 255);
    opacity: 0;
    font-size: 24px;
    color: white;
    border-radius: 50%;
}

#hold {
    border-radius: 50%;
    background-color: rgb(220,52,69);
    opacity: 0;
    font-size: 24px;
    color: white;
}
#play {
    background-color: #F5A31A;
    height: 63px;
    border-radius: 50%;
    color: white;
    font-size: 24px;
    margin-top: -100px;
}

#replay {
    background-color: #F5A31A; 
    border-radius: 50%;
    font-size: 24px;
    height: 91px;
    opacity: 0;
}

#won, #lost, #tied {
    opacity: 0;
}

#chips{
    margin-top: -60px;
}
